<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205430086073-gei8veutdemn7lr0ck94qi1o8qvt5jt5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205430086073-gei8veutdemn7lr0ck94qi1o8qvt5jt5</string>
	<key>API_KEY</key>
	<string>AIzaSyCT9SSvs_ipyKRfYW5O4_lJuqn_ZwF_dk0</string>
	<key>GCM_SENDER_ID</key>
	<string>205430086073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safe</string>
	<key>PROJECT_ID</key>
	<string>safe-1118f</string>
	<key>STORAGE_BUCKET</key>
	<string>safe-1118f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205430086073:ios:48b95c22bc218a16027e68</string>
</dict>
</plist>